* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica;
	color: red;
}

img {
	width: 100%;
	display: block;
}

h1{
	text-align: center;
	font-size: 10vw;
	color: #2574A9;
	text-decoration: underline;
}
